<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="footer mall-clear-fix" th:fragment="footer-fragment">
    <div class="footer-1">
        <a href="##"></a>
        <a href="##"></a>
        <a href="##"></a>
        <a href="##"></a>
    </div>
    <div class="footer-2">
        <dl>
            <dt>购物指南</dt>
            <dd>
                <a href="##">购物流程</a>
                <a href="##">会员介绍</a>
                <a href="##">生活旅行</a>
                <a href="##">常见问题</a>
                <a href="##">大家电</a>
                <a href="##">联系客服</a>
            </dd>
        </dl>
        <dl>
            <dt>楼楼保障</dt>
            <dd>
                <a href="##">发票保障</a>
                <a href="##">售后规则</a>
                <a href="##">缺货赔付</a>
            </dd>
        </dl>
        <dl>
            <dt>商家服务</dt>
            <dd>
                <a href="##">商家入驻</a>
                <a href="##">商家中心</a>
                <a href="##">运营服务</a>
            </dd>
        </dl>
        <dl>
            <dt>D mall保障</dt>
            <dd>
                <a href="##">发票保障</a>
                <a href="##">售后规则</a>
                <a href="##">缺货赔付</a>
                <a href="##">发票保障</a>
                <a href="##">售后规则</a>
                <a href="##">缺货赔付</a>
            </dd>
        </dl>
        <dl>
            <dt>微信公众号</dt>
            <dd>
                <a href="https://weixin.qq.com/"><img th:src="@{/Lmall/img/qr-code_weixin.png}" style="width: 105px;height: 105px;"/></a>
            </dd>
        </dl>
    </div>
    <div class="footer-3">
        <p class="footer-3-p">
            <a href="##">关于D mall</a>|
            <a href="##">联系我们</a>|
            <a href="##">联系客服</a>|
            <a href="##">合作招商</a>|
            <a href="##">营销中心</a>|
            <a href="##">友情链接</a>|
            <a href="##">销售联盟</a>|
            <a href="##">D mall社区</a>|
            <a href="##">风险监测</a>|
            <a href="##">隐私政策</a>|
        </p>
        <p class="footer-3-p">
            <a href="##">用户指南</a>|
            <a href="##">官方微信</a>|
            <a href="##">线下活动</a>|
        </p>
<!--        <div class="footer-3-text"><a href="http://www.beian.miit.gov.cn/">浙ICP备 1xxxxxxxx 号</a>-->
<!--            <b>© 2020-2030 LMALL.COM 版权所有</b>-->
<!--        </div>-->
    </div>
</div>
</html>