<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head-fragment(title,path)">
    <meta charset="UTF-8">
    <title th:text="${title}">D mall</title>
    <link rel="stylesheet" th:href="@{/Lmall/css/cssreset-min.css}">
    <link rel="stylesheet" th:href="@{/Lmall/styles/mall.css}">
    <link rel="stylesheet" th:href="@{/Lmall/css/iconfont.css}">
    <link rel="stylesheet" th:href="@{'/Lmall/styles/'+${path}+'.css'}">
    <link rel="shortcut icon" th:href="@{/Lmall/favicon.ico}"/>
    <link rel="bookmark" th:href="@{/Lmall/favicon.ico}"/>
    <script th:src="@{/Lmall/js/jquery-2.1.0.js}" type="text/javascript" charset="utf-8"></script>
    <script th:src="@{/Lmall/js/header.js}" type="text/javascript" charset="utf-8"></script>
    <script th:src="@{/Lmall/js/search.js}" type="text/javascript" charset="utf-8"></script>
    <meta name="keywords"
          content="SpringBoot商城"/>
    <meta name="description"
          content="SpringBoot商城"/>
</head>

<div class="top" th:fragment="header-fragment">
    <div class="mall-w1230 top1 mall-clear-fix">
        <div class="left">
            <th:block th:unless="${session.mallUser==null}">
                <em>欢迎光临
                    <th:block th:text="${session.mallUser.nickName}"></th:block>
                </em>
            </th:block>
            <th:block th:if="${session.mallUser==null}">
                <a th:href="@{/index}"><em>欢迎光临</em></a>
                <a th:href="@{/login}">请登录</a>
                <a th:href="@{/register}">免费注册</a>
            </th:block>
        </div>
        <div class="right">
            <ul class="top-r">
                <li class="" id="user-center">
                    <a href="">个人中心</a><i class="e-arrow"></i>
                    <div class="user-center-list drop-down">
                        <a th:href="@{/personal}">个人中心</a>
                        <a th:href="@{/orders}">我的订单</a>
                        <a th:href="@{/logout}">退出登录</a>
                    </div>
                </li>
                <li class="shop-car"><i class="iconfont top-i-color">&#xf0179;&nbsp;</i><a
                        th:href="@{/shop-cart}">购物车</a></li>
<!--                <li id="">-->
<!--                    <i class="iconfont top-i-color">&#xe620;</i>-->
<!--                    <a href="##">手机版</a>-->
<!--                </li>-->
<!--                <li><a href="##">企业购</a></li>-->
<!--                <li class="" id="e-mall">-->
<!--                    <a href="">商家支持</a><i class="e-arrow"></i>-->
<!--                    <div class="drop-down e-mall">-->
<!--                        <dl class="mall-clear-fix">-->
<!--                            <dd><a href="##">商家中心</a></dd>-->
<!--                            <dd><a href="##">商家入驻</a></dd>-->
<!--                            <dd><a href="##">运营服务</a></dd>-->
<!--                            <dd><a href="##">商家品控</a></dd>-->
<!--                            <dd><a href="##">商家工具</a></dd>-->
<!--                            <dd><a href="##">商家规则</a></dd>-->
<!--                            <dd><a href="##">楼楼智库</a></dd>-->
<!--                            <dd><a href="##">喵言喵语</a></dd>-->
<!--                        </dl>-->
<!--                    </div>-->
<!--                </li>-->
            </ul>
        </div>
    </div>
</div>

<div class="l-search" th:fragment="search-fragment">
    <a th:href="@{/index}" class="mall-logo" title="搜索商品">
    </a>
    <div class="mall-w1230">
        <div class="mall-search mall-clear-fix">
            <form class="mall-clear-fix" action="##" onsubmit="return false;">
                <input type="text" name="search-input" id="search-input"
                       placeholder="搜索商品"/>
                <button type="submit" onclick="search()">搜索</button>
            </form>
        </div>
    </div>
</div>

</html>