<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="Lmall/header::head-fragment('D mall','mall')">
</head>
<body>
<div th:replace="Lmall/header::header-fragment"></div>
<div th:replace="Lmall/header::search-fragment"></div>
<div class="top-bottom">
    <div class="content">
        <div class="mall-w1230 mall-clear-fix">
            <!-- 顶部伪导航 -->
            <ul class="mall-content mall-clear-fix">
<!--                <li><a href="">楼楼会员-->
<!--                    <div class="l-cat"></div>-->
<!--                </a></li>-->
<!--                <li><a href="">品牌街-->
<!--                    <div class="l-cat"></div>-->
<!--                </a></li>-->
<!--                <li><a href="">电器城-->
<!--                    <div class="l-cat"></div>-->
<!--                </a></li>-->
<!--                <li><a href="">喵鲜生-->
<!--                    <div class="l-cat"></div>-->
<!--                </a></li>-->
<!--                <li><a href="">医药厅-->
<!--                    <div class="l-cat"></div>-->
<!--                </a></li>-->
<!--                <li><a href="">营业厅-->
<!--                    <div class="l-cat"></div>-->
<!--                </a></li>-->
<!--                <li><a href="">楼楼惠-->
<!--                    <div class="l-cat"></div>-->
<!--                </a></li>-->
<!--                <li><a href="">楼家购-->
<!--                    <div class="l-cat"></div>-->
<!--                </a></li>-->
            </ul>

            <!-- 三级分类数据 -->
            <dl class="all-sort-list" id="sort-list" style="z-index: 9;">
                <dt><i class="iconfont">&#xe501;</i><span>商品分类</span></dt>
                <th:block th:each="category : ${categories}">
                    <dd class="index-ct">
                        <p><i class="iconfont">o</i><a href="">
                            <th:block th:text="${category.categoryName}"></th:block>
                        </a></p>
                        <div class="sort-list-nr">
                            <div class="sort-list-left">
                                <th:block th:each="secondLevelCategory : ${category.secondLevelCategoryVOS}">
                                    <dl class="mall-clear-fix">
                                        <dt>
                                            <th:block th:text="${secondLevelCategory.categoryName}"></th:block>
                                        </dt>
                                        <dd>
                                            <th:block
                                                    th:each="thirdLevelCategory : ${secondLevelCategory.thirdLevelCategoryVOS}">
                                                <a href="#"
                                                   th:href="@{'/search?goodsCategoryId='+${thirdLevelCategory.categoryId}}">
                                                    <th:block th:text="${thirdLevelCategory.categoryName}"></th:block>
                                                </a>
                                            </th:block>
                                        </dd>
                                    </dl>
                                </th:block>
                            </div>
                        </div>
                    </dd>
                </th:block>
            </dl>

        </div>
    </div>

    <!-- 轮播图 -->
    <div class="mall-banner" style="height: 500px;">
        <div class="index-banner" id="index-banner">
            <div class="index-banner">
                <!-- 配置了轮播图则显示后台配置的轮播图 -->
                <th:block th:unless="${#lists.isEmpty(carousels)}">
                    <th:block th:each="carousel : ${carousels}">
                        <div class="banner-bg">
                            <!--这里面改变轮播图的样式-->
                            <div class="mall-w1230">
                                <div class="banner-content">
                                    <a th:href="@{${carousel.redirectUrl}}">
                                        <img th:src="@{${carousel.carouselUrl}}" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </th:block>
                </th:block>
            </div>
        </div>
    </div>
</div>

<div class="goods-content">

    <!--热销商品-->
    <div class="content-item content-bg mall-clear-fix">
        <img th:src="@{/Lmall/img/title-hot.png}"/>
        <!-- 已配置热销商品则显示配置内容 -->
        <th:block th:unless="${#lists.isEmpty(hotGoodses)}">
            <th:block th:each="hotGoodse : ${hotGoodses}">
                <a th:href="@{'/goods/detail/'+${hotGoodse.goodsId}}">
                    <img th:src="@{${hotGoodse.goodsCoverImg}}" th:alt="${hotGoodse.goodsName}">
                </a>
            </th:block>
        </th:block>
    </div>

    <!--新品推荐-->
    <div class="content-item content-bg mall-clear-fix">
        <img th:src="@{/Lmall/img/title-new.png}"/>
        <!-- 已配置新品则显示配置内容 -->
        <th:block th:unless="${#lists.isEmpty(newGoodses)}">
            <th:block th:each="newGoods : ${newGoodses}">
                <li style="width:240px;">
                    <a th:href="@{'/goods/detail/'+${newGoods.goodsId}}">
                        <img th:src="@{${newGoods.goodsCoverImg}}" th:alt="${newGoods.goodsName}">
                    </a>
                </li>
            </th:block>
        </th:block>
    </div>

    <!--推荐商品-->
    <div class="recommend-goods content-bg mall-clear-fix">
        <h2><span class="recommend-text"><i class="iconfont">&#xe64b;</i> 猜你喜欢</span></h2>
        <div class="goods-items mall-clear-fix"><!--产品展示-->
            <ul>
                <!-- 已配置推荐商品则显示配置内容 -->
                <th:block th:unless="${#lists.isEmpty(recommendGoodses)}">
                    <th:block th:each="recommendGoods : ${recommendGoodses}">
                        <li class="goods-item">
                            <div class="item-border"><a th:href="@{'/goods/detail/'+${recommendGoods.goodsId}}">
                                <div class="item-img"><img th:src="@{${recommendGoods.goodsCoverImg}}"
                                                           th:alt="${recommendGoods.goodsName}"></div>
                                <div class="item-text">
                                    <p><em th:text="${'['+recommendGoods.tag+'] '+ recommendGoods.goodsName}"></em></p>
                                    <div><i>¥</i> <span th:text="${recommendGoods.sellingPrice}">26</span></div>
                                </div>
                            </a></div>
                        </li>
                    </th:block>
                </th:block>
            </ul>
        </div>
        <div class="content-end"></div>
        <div class="both"></div>
    </div>

</div>

<!-- 底部导航栏 -->
<div th:replace="Lmall/footer::footer-fragment"></div>
</body>
<script th:src="@{/Lmall/js/index.js}" type="text/javascript"></script>
</html>